

.Menu {
    background-image: url(images/menipozadina.jpg);
}
.wrapper {
  padding: 2em 1em;
  background: #fff;
  columns: 100px 2;
  column-gap: 30px;
  @media (min-width: 600px) {
    padding: 1em calc(50% - 300px);
  }
}
.item {
    font-size: 20px;
  border-bottom: 1px dotted #c5c5c5;
  break-inside: avoid;
  display: flex;
  justify-content: space-between;
}

.list-title {
  color: #f44336; 
  font-size: 35px;
}
ul {
    margin-bottom: 27px;
}
/*.footerlink{
    text-decoration: none;
    list-style: none;
    display: block;
    margin-bottom: 10px;
    font-size: 1.8em;
    color: #d3d3d3;
}*/
.footermenu {
    color: #d3d3d3;
    font-family: 'Poppins', sans-serif;
}
.footermenu2 {
    font-family: 'Poppins', sans-serif;
}

.footer2 .footer-content .footer-section .contact-details span {
  font-family:"Poppins", sans-serif;
  color:white;
}



.footer2{
    padding-left:20px;
    padding-top:30px;
    padding-bottom: 70px;
    margin-top: 30px;
    background: #303030;
    color: #d3d3d3;
    height: 440px;
    position: relative;
}



@media screen and (max-width:767px){
  .footer4 {
    height:1067px !important;

  }
}